/******************************

GENERAL

******************************/
	
	/***** CharSet *****/
	@charset "utf-8";


	/***** Box-Size Reset - global border-box *****/
		html {
			box-sizing: border-box;
		}
		*, *:before, *:after {
			box-sizing: inherit;
		}


	/***** CSS vars *****/
		:root{
			--white: 	#fafafa;
			--black: 	#282828;
			--grey: 	#353535;
			--green:	#33FF33;
			--amber:	#FFB000;

			--primary_color: var(--black);
			--background_color: var(--white);

			--text_glow_green:	1px 0px 5px rgba(51, 255, 51, 0.5), -1px 0px 5px rgba(51, 255, 51, 0.5), 0px -1px 5px rgba(51, 255, 51, 0.5), 0px -1px 5px rgba(51, 255, 51, 0.5);
		}


	/***** HTML/Body *****/
		html{
			font-size: 10px;
		}

		body{
			overflow-x: hidden;
			max-width: 100%;
			color: var(--primary_color);
			font-family: monospace;
			font-size: 1.8rem;
		}


	/***** <img> global *****/
		img{
			max-width: 100%;
			height: auto;
			display: block;
		}


	/***** Lists Global *****/
		ul{

		}

		li{
			margin-bottom: 1em;
		}


	/***** NoList *****/
		ul.nolist{
			list-style: none;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: row;
		}
		ul.nolist>li{
			padding:  0 10px;
		}


	/***** Links *****/
		a{
			color:inherit;
			text-decoration: none;
			border-bottom: 3px dotted;
		}
		a:hover{
			border-bottom: 3px solid;
		}







/******************************

DEMO STYLING

******************************/
	/***** Body *****/
		body{
			padding:50px;
			background-color: #eaeaea;
		}

		.body_inner{
			box-shadow:
				0 2.8px 2.8px rgba(0, 0, 0, 0.056),
				0 6.7px 6.7px rgba(0, 0, 0, 0.081),
				0 12.5px 12.5px rgba(0, 0, 0, 0.1),
				0 22.3px 22.3px rgba(0, 0, 0, 0.119),
				0 41.8px 41.8px rgba(0, 0, 0, 0.144),
				0 100px 100px rgba(0, 0, 0, 0.2)
			;

			background-color: var(--white);
			padding: 35px;
		}

		.demo_title{
			color: var(--black);
			display: inline-block;
		}
		.demo_title:before{
			content: '[';
			position: relative;
			top:-2px;
		}
		.demo_title:after{
			content: ']';
			position: relative;
			top:-2px;
		}


	/***** Sections *****/
		section{
			outline: 5px dashed var(--primary_color);
			padding:35px 35px;
			margin: 0 0 35px;
		}


	/***** Code Element *****/
		code{
			color: var(--green);
			background-color: var(--grey);
			/*background: linear-gradient(90deg, var(--green) 1px, var(--green) 2px, var(--grey) 15px, var(--grey) 100%);*/

			font-family: monospace;
			font-size: 16px;
			text-shadow: var(--text_glow_green);
			display: inline-block;
			position: relative;
			padding: 25px 25px 10px 25px;
			
		}
		code:after{
			content:'<code/>';
			position: absolute;
			top: 0px;
			left: 0px;
			display: block;
			width: 100%;
			padding: 2px 5px 2px 25px;
			background-color: var(--green);
			color: var(--grey);
			font-size: 0.8em;
		}

		code.block{
			width: 100%;
			max-width: 850px;
		}






/******************************

PLUGIN TESTING

******************************/
	
	/***** CONTRAST  *****/
		.contrast_test{
			display: inline-block;
			background-color: #000;
			color: #666;
			padding: 10px 25px;
		}



/******************************

DEVKIT MENU

******************************/


	/*****  *****/
	#hm_devkit_overlay{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		pointer-events: none;
	}
	#hm_devkit_overlay.active{
		opacity: 1;
		pointer-events: auto;
	}
	
	#hm_devkit_menu{
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%,-50%,0);

		width: 100%;
		height: 100%;
		max-width: 800px;
		max-height: 600px;
		
		color: var(--green);
		background-color: var(--grey);
		font-family: monospace;
		font-size: 16px;
		text-shadow: var(--text_glow_green);

		box-shadow:
			0 2.8px 2.8px rgba(0, 0, 0, 0.056),
			0 6.7px 6.7px rgba(0, 0, 0, 0.081),
			0 12.5px 12.5px rgba(0, 0, 0, 0.1),
			0 22.3px 22.3px rgba(0, 0, 0, 0.119),
			0 41.8px 41.8px rgba(0, 0, 0, 0.144),
			0 100px 100px rgba(0, 0, 0, 0.2)
		;

		opacity: 0;
		pointer-events: none;
	}
	#hm_devkit_menu.active{
		opacity: 1;
		pointer-events: auto;
	}


	/***** Heading *****/
		#hm_devkit_menu .heading{
			display: block;
			width: 100%;
			padding: 10px 25px;
			background-color: var(--green);
			color: var(--grey);
			font-size: 1.5em;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

	/***** Heading *****/
		#hm_devkit_menu .close{
			cursor: pointer;
			background-color: transparent;
			color: var(--black);
			padding: 5px;
		}
		#hm_devkit_menu .close:hover{
			cursor: pointer;
			background-color: var(--black);
			color: var(--green);
		}
		#hm_devkit_menu .close::before{
			content: '[';
			position: relative;
			top: -2px;
		}
		#hm_devkit_menu .close::after{
			content: ']';
			position: relative;
			top: -2px;
		}

	/***** Credit *****/
		#hm_devkit_menu .credit{
			text-align: center;
			padding: 5px;
		}

	/***** Menu *****/
		#hm_devkit_menu .menu_item_list{
			list-style: none;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			padding:  15px 15px;
		}
		#hm_devkit_menu .menu_item{
			border: dashed 2px var(--green);
			background: none;
			display: inline-block;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 30%;
			padding: 10px 15px;
			position: relative;
			cursor: pointer;
		}

		#hm_devkit_menu .menu_item:hover{
			border: solid  2px var(--green);
			background: var(--green);
			color: var(--grey);
		}


		#hm_devkit_menu .menu_item input{
			opacity: 0;
			position: absolute;
			left:0;
			top: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
			z-index: 10;
		}
		#hm_devkit_menu .menu_item .custom_checkbox{
			width: 25px;
			height: 25px;
			border: solid 3px  var(--green);
			background-color: transparent;
			cursor: pointer;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

		}
		#hm_devkit_menu .menu_item .custom_checkbox::before{
			content: '✖';
			position: relative;
			top: -1px;
			opacity: 0;
			pointer-events: none;
		}


		#hm_devkit_menu .menu_item:hover .custom_checkbox{
			border: solid 3px  var(--grey);
			background-color: var(--grey);
		}

		#hm_devkit_menu .menu_item input:checked + .custom_checkbox{}
		#hm_devkit_menu .menu_item input:checked + .custom_checkbox:before{
			opacity: 1;
		}
		#hm_devkit_menu .menu_item:hover input:checked + .custom_checkbox{
			color: var(--green);
		}

		

		#hm_devkit_menu .menu_item label{
			padding-left: 25px;
			width: calc(100% - 25px);
			cursor: pointer;
		}